<%- include("partials/head.ejs") %>

<!-- <div id="topbar">
    <p id="last_follower">Last follow: <span id="last_follower_name">Unknown</span></p>
</div> -->

<div id="slidedown">
    <span id="slidedown__content"></span>
</div>

<div id="chat">
    <div id="messages">
        <!-- <div class="message">
            <span class="message__author">bruh</span>
            <span class="message__content">brah</span>
        </div> -->
    </div>
</div>

<script src="/js/topbar.js"></script>
<script src="/js/chat.js"></script>

<%- include("partials/tail.ejs") %>
